# Copy this file to .env and fill the values

# Google Gemini API key
GEMINI_API_KEY=

# MongoDB connection string
# Example:
# MONGODB_URMONGODB_URI=I=mongodb+srv://user:password@cluster0.h3ecdgx.mongodb.net/yourdb


